.dashboardcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbarcontainer {
    width: 100%;
    height: 10%;
}

.navbarcontainer a {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.navbarcontainer a:hover {
    color: lightgray;
}

.sidebarbuttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    position: absolute;
    right: 5px;
}

.mainelementcontainer {
    display: flex;
    justify-content: center;
    height: 90%;
    width: 90%;
    overflow: hidden;
}