.dashboardcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbarcontainer {
    width: 100%;
    height: 10%;

}

.navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.navbarActions {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: right;
}

.navbarActions>* {
    margin: 2%;
}

.navbarbutton {
    cursor: pointer;
    display: flex;
    color: #fa4d6a;
    font-weight: bold;
    font-size: x-large;
}

.navbarbutton:hover {
    color: #fa8fa1;
}

.navbarcontainer a {
    color: #fa4d6a;
    font-weight: bold;
    text-decoration: none;
}

.navbarcontainer a:hover {
    color: #fa8fa1;
}

.mainelementcontainer {
    display: flex;
    justify-content: center;
    margin: 5px;
    height: 90%;
    width: 90%;
    overflow: hidden;
}

.logo {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-self: center;
    font-size: 300%;
    color: #fa4d6a;
    border-radius: 20%;
    padding: 2px;
}