.sidemodal {
  position: fixed;
  top: 15%;
  right: 0%;
  transform: translate(-5%, -1%);
  width: 30%;
  height: 80%;
  color: black;
  z-index: 2;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}