.profilepostsgridcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: 1mm solid black;
    width: 80%;
    height: 80%;
    overflow-y: auto;
}

.postcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1mm solid black;
    width: 90%;
    margin: 10px;
    z-index: 0;
}

.profilecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1mm solid black;
    width: 90%;
    height: 100%;
    margin: 10px;
    z-index: 0;
}

.profileheadercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 20%;
}

.profileIconStyle {
    margin-right: 8px;
    vertical-align: middle
  }
  
  .avatar {
    vertical-align: "middle";
    width: 15%;
    height: 15%;
    border-radius: 50%;
  }