.profilepostsgridcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    width: 40%;
    height: auto;
    overflow-y: auto;
}

.postcontainer {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 90%;
    margin: 10px;
    z-index: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.profilecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 90%;
    height: 100%;
    margin: 10px;
    z-index: 0;
}

.profileheadercontainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: safe;
    align-items: center;
    width: 100%;
    height: 99%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.displaypicturecontainer {
    width: 18%;
    height: 95%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.profileIconStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 1000%;
}

.avatar {
    vertical-align: middle;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.nameinfocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    height: 100%;
    width: 25%;
    margin: 10px;
}

.otherprofileinfocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;

}

.profilestatscontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: x-large;
    font-weight: 500;
}

.aboutmecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    width: 100%;
    height: 20%;
}