.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 40%;
  height: 80%;
}

h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 2%;
}

label {
  display: block;
  margin-bottom: 1%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 2%;
  border: 1px solid black;
  border-radius: 2%;
}

button {
  width: 100%;
  padding: 2%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 2%;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
