.signuppage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.suauthcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  border-radius: 5px;
  width: 40%;
  height: auto;
  background-color: #fafafa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.suauthcontainer .formwrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.suauthcontainer a {
  font-size: 1rem;
}

.suauthcontainer form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  width: 80%;
  height: 100%;
  padding: 2%;
}

.suauthcontainer input {
  outline: none;
  background: #fafafa;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border: none;
  width: 100%;
  height: auto;
  margin: 1%;
  padding: 2%;
  background-color: #f0f2f5;
}

.suauthcontainer .inputgroup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
}

.suauthcontainer .inputgrouprow {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.suauthcontainer .inputgrouprow input {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}

label {
  display: block;
  text-transform: capitalize;
  font-size: 1rem;
  color: #555;
}

.suauthcontainer textarea {
  width: auto;
  height: auto;
  resize: none;
  background-color: #f0f2f5;
  font-size: 1rem;
  font-family: inherit;
}

.suauthcontainer button {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  border-radius: 5px;
  color: #fa4d6a;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 2%;
}

.suauthcontainer button:hover {
  color: #db435c;
}

.logo {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4000%;
  color: #fa4d6a;
  border-radius: 20%;
  padding: 2px;
}

/* Define a CSS class for the flip animation */
.flip {
  animation: flip 10s ease-in-out infinite;
}

/* Define the keyframes for the flip animation */
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}